<form class="login-form">
  <div>
    <label for="email-login"></label>
    <input type="text" id="email-login" placeholder="username/email:" />
  </div>
  <div>
    <label for="password-login"></label>
    <input type="password" id="password-login" placeholder="password:" />
  </div>
  <div>
    <button type="submit">LOGIN</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup"></label>
    <input type="text" id="username-signup" placeholder="Create Username:" />
  </div>
  <div>
    <label for="email-signup"></label>
    <input type="text" id="email-signup" placeholder="Enter Email:" />
  </div>
  <div>
    <label for="password-signup"Create Password:</label>
    <input type="password"  id="password-signup" placeholder="Create Password:"/>
  </div>
  <div>
    <button type="submit">SIGNUP</button>
  </div>
</form>

<script src="/js/login.js"></script>