  <section class="col-8">
            <div class="carousel slide">

                <ul>
                    {{#each animals as |animal|}}
                    <li>
                        {{> animalPartial2 animal}}
                    </li>
                    {{/each}}
                </ul>

            </div>
            </section>
